body {
	background-image: url('background.png');
	font-family: 'Ravi Prakash', cursive;
	text-shadow: 2px 1px #a0a0a0;
} 

h1 {
	text-align: center;
}

#ball {
	height: 400px;
	width: 400px;
	line-height: 400px;
	background-color: #000;
	border-radius: 200px;
	margin: 0 auto;
	text-align: center;
	margin-top: 25px;
}

#eight {
	font-size: 256px;
	color: #FFF;
	margin: 0;
	user-select: none;
}

#outcome {
	text-align: center;
	color: #000;
	margin-top: 25px;
	font-size: 1.5em;
}