body {
  background-image: url('background.png');
	overflow: hidden;
  user-select: none;
}

.circle {
	height: 200px;
	width: 200px;
	position: absolute;
}

#red {
  height: 100px;
  width: 100px;
}

#header {
	text-align: center;
}